.form-container {
    display: flex;
    justify-content: center;
}

.form {
    border-style: groove;
    width: 70%;
    padding: 5vh;
    background-color: #E9E3D9;
}

.input-container {
    margin-bottom: 3vh;
    margin-top: 3vh;
    
}

.submit-container {
    display: flex;
    justify-content: center;
}

.submit-button {
    height: 5vh;
    width: 16vw;
    background-color: white;
}

.form-select {
    width: 50%;
    height: 5vh;
}

.form-control {
    width: 80%;
    height: 20vh;
}

.label {
    margin-bottom: 1vh;
    font-weight: bold;
    font-size: 2vh;
}

.form-check {
    margin-top: 2vh;
}

.form-check-label {
    margin-left: 0.5vw;
}

.error-message {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
    color: red;
}